<div class="row">
  <p style="color: green"><%= notice %></p>
</div>

<div class="row mt-2">
  <h1>Comentarios</h1>
</div>

<div class="mt-2">
  <div id="comments">
    <table >
      <thead>
        <tr>
          <td>Título</td>
          <td>Acciones</td>
        </tr>
      </thead>
      <tbody>
        <% if @comments.empty? %>
          <tr>
            <td>No hay comentarios creados todavía</td>
          </tr>
        <% else %>
          <% @comments.each do |comment| %>
            <tr> 
              <td><%= link_to comment.title, comment %></td>
              <td></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row mt-2">
  <%= link_to "Agregar Comentario", new_comment_path, class: "btn btn-sm btn-success" %>
</div>

