<div class="row">
  <p style="color: green"><%= notice %></p>
</div>

<div class="mt-2">
  <%= render "comments/table_objections" %>
</div>

<div class="mt-2">
  <%= render "comments/table_good" %>
</div>

<div class="row mt-2">
  <%= link_to "Agregar Comentario Nuevo", new_comment_path, class: "btn btn-sm btn-success" %>
</div>

