<div class=" row m-2 shadow">
  <h1>Editando <%= @person.name %></h1>
</div>
<div class=" row m-2 shadow">
  <%= render "form", person: @person %>
</div>
<div class=" row m-2 shadow">
  <%= link_to "Mostrar #{@person.name}", @person, class: "btn btn-sm btn-primary" %>
  <%= link_to "Volver a personas", people_path, class: "btn btn-sm btn-dark" %>
</div>
