<div class="row">
  <p style="color: green"><%= notice %></p>
</div>

<div class="row mt-2">
  <h1>Personas</h1>
</div>

<div class="mt-2">
  <div id="people">
    <table >
      <thead>
        <tr>
          <td>Nombre</td>
          <td>Zona</td>
        </tr>
      </thead>
      <tbody>
        <% if @people.empty? %>
          <tr>
            <td colspan="2">No hay personas creadas todavía</td>
          </tr>
        <% else %>
          <% @people.each do |person| %>
            <tr> 
              <td ><%= link_to person.name, person %></td>
              <td ><%= person.zone.name %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row mt-2">
  <%= link_to "Agregar Persona", new_person_path, class: "btn btn-sm btn-success" %>
</div>

