<div class="row m-2 shadow">
  <h1>Nueva Persona</h1>
</div>

<div class=" row m-2">
  <%= render "form", person: @person %>
</div>

<div class=" row m-2 shadow">
  <%= link_to "Volver a Personas", people_path, class: "btn btn-sm btn-dark" %>
</div>
