<div class="row shadow m-2 p-3">

  <h1>Ayuda</h1>
  <h2>Comentarios</h2>
  <p>Los comentarios son tanto las OBJECIONES como las BUENAS PRÁCTICAS que nos comenten.</p>
  <p>Para crear uno, debemos incluir:  </p>
  <ul>
    <li>Un título</li>
    <li>Una descripción</li>
    <li>Un tipo</li>
  </ul>
  <p>El TITULO es un resumen de unas pocas palabras del comentario</p>
  <p>La DESCRIPCIÓN es un pequeño texto donde podemos extendernos más en la explicación</p>
  <p>El TIPO puede ser OBJECIÓN o BUENA PRÁCTICA</p>
  <h2>Coincidencias</h2>
  <p>Cada comentario puede tener 0 o más COINCIDENCIAS.</p>
  <p>Las COINCIDENCIAS son las veces que ese comentario se repite por parte de personas distintas.</p>
  <p>Para crear un comentario hay que indicar una descripción (opcional), y siempre una PERSONA que es la que ha hecho el comentario. </p>
  <p>Si la PERSONA no existiese en el desplegable, habría que crearla antes</p>
  <h2>Personas</h2>
  <p>Una PERSONA es alguien que puede emitir un juicio de valor sobre lo que ocurre tanto para bien (BUENA PRACTICA), como para mal (OBJECION).</p>
  <p>El nombre de una PERSONA es <strong>la ciudad donde se encuentra</strong>. En caso de que exista más de una PERSONA en una ciudad, puede ponerse
  la calle o algo que la distinga.</p>
</div>