<div class="row m-2 shadow">
  <h1>Editando coincidencia</h1>
</div>

<div class=" row m-2">
  <%= render "coincidences/form_edit", coincidence: @coincidence %>
</div>

<div class=" row m-2 shadow">
  <%= link_to "Volver a comentarios", comments_path, class: "btn btn-sm btn-dark" %>
</div>
