<div id="<%= dom_id zone %>">
  <div class="card shadow">
    <div class="card-header m-2 p-3 d-flex justify-content-between">
      <h2><%= zone.name %></h2>
      <div class="btn-group">
        <div>
          <%= link_to "Editar", edit_zone_path(@zone), class: "btn btn-sm btn-warning" %>
        </div>
        <%= button_to "Eliminar", @zone, method: :delete, class: "btn btn-sm btn-danger" %>
      </div>
    </div>
  </div>   
</div>
