<div class="row m-2 shadow">
  <h1>Nueva Zona</h1>
</div>

<div class=" row m-2">
  <%= render "form", zone: @zone %>
</div>

<div class=" row m-2 shadow">
  <%= link_to "Volver a zonas", zones_path, class: "btn btn-sm btn-dark" %>
</div>
