<div class="row mt-2">
  <h1>New zone</h1>
</div>

<div class=" row mt-2">
  <%= render "form", zone: @zone %>
</div>

<div class=" row mt-2">
  <%= link_to "Volver a zonas", zones_path, class: "btn btn-sm btn-dark" %>
</div>
